<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myself.badwritten.base.dao.AccountMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="myself.badwritten.common.model.Account">
        <id column="ACCOUNT_ID" property="accountId" />
        <result column="ACCOUNT_NAME" property="accountName" />
        <result column="ACCOUNT_TEL" property="accountTel" />
        <result column="ACCOUNT_EMAIL" property="accountEmail" />
        <result column="ACCOUNT_PASSWORD" property="accountPassword" />
        <result column="IS_ENABLE" property="isEnable" />
        <result column="IS_ACTIVE" property="isActive" />
        <result column="OPEN_ID" property="openId" />
    </resultMap>

</mapper>
